<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linter.oasys.mapper.GoodsMapper">
    <resultMap id="GoodsResultMap" type="Goods">
        <id property="id" column="id"/>
        <result property="tagid" column="tagid"/>
        <result property="componentType" column="component_type"/>
        <result property="subType" column="sub_type"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="manufacturerPartNumber" column="manufacturer_part_number"/>
        <result property="description" column="description"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="annualStock" column="annual_stock"/>
        <result property="autoReplenishRate" column="auto_replenish_rate"/>
        <result property="leadTime" column="lead_time"/>
    </resultMap>

    <insert id="insertGoodsList" parameterType="java.util.List">
        insert into goods (tagid,component_type,sub_type,manufacturer,manufacturer_part_number,description,stock_qty,
        annual_stock,auto_replenish_rate,lead_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tagid},#{item.componentType},#{item.subType},
            #{item.manufacturerPartNumber},#{item.manufacturerPartNumber},#{item.description},#{item.stockQty},
            #{item.annualStock},#{item.autoReplenishRate},#{item.leadTime})
        </foreach>
    </insert>
    <insert id="insertGoods" parameterType="Goods">
        insert into goods (tagid,component_type,sub_type,manufacturer,manufacturer_part_number,description,stock_qty,
        annual_stock,auto_replenish_rate,lead_time)
        values (#{tagid},#{componentType},#{subType},
        #{manufacturerPartNumber},#{manufacturerPartNumber},#{description},#{stockQty},#{annualStock},#{autoReplenishRate},#{leadTime})
    </insert>

    <update id="updateGoods">
        update goods
        <trim prefix="set" suffixOverrides=",">
            <if test="tagid != null">tagid=#{tagid},</if>
            <if test="componentType != null">component_type=#{componentType},</if>
            <if test="subType != null">sub_type=#{subType},</if>
            <if test="manufacturer != null">manufacturer=#{manufacturer},</if>
            <if test="manufacturerPartNumber != null">manufacturer_part_number=#{manufacturerPartNumber},</if>
            <if test="description != null">description=#{description},</if>
            <if test="stockQty != null">stock_qty=#{stockQty},</if>
            <if test="annualStock != null">annual_stock=#{annualStock},</if>
            <if test="autoReplenishRate != null">auto_replenish_rate=#{autoReplenishRate},</if>
            <if test="leadTime != null">lead_time=#{leadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoods">
        delete from goods where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



    <select id="selectGoods"  parameterType="hashmap" resultMap="GoodsResultMap">
        select *
        from goods
        where 1=1
        <if test="tagid != null and tagid != ''">
            and (locate(#{tagid},tagid)>0 or locate(tagid,#{tagid})>0)
        </if>
        <if test="componentType != null and componentType != ''">
            and (locate(#{componentType},component_type)>0 or locate(component_type,#{componentType})>0)
        </if>
        <if test="subType != null and subType != ''">
            and (locate(#{subType},sub_type)>0 or locate(sub_type,#{subType})>0)
        </if>
        <if test="manufacturer != null and manufacturer != ''">
            and (locate(#{manufacturer},manufacturer)>0 or locate(manufacturer,#{manufacturer})>0)
        </if>
        <if test="manufacturerPartNumber != null and manufacturerPartNumber != ''">
            and (locate(#{manufacturerPartNumber},manufacturer_part_number)>0 or locate(manufacturer_part_number,#{manufacturerPartNumber})>0)
        </if>
        <if test="description != null and description != ''">
            and (locate(#{description},description)>0 or locate(description,#{description})>0)
        </if>
        <if test="stockQty != null and stockQty != ''">
            and (locate(#{stockQty},stock_qty)>0 or locate(stock_qty,#{stockQty})>0)
        </if>
    </select>

    <select id="selectGoodsById" resultMap="GoodsResultMap">
        select *
        from goods
        where id=${id}
    </select>
</mapper>